* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Source Sans Pro', sans-serif; */
    color: aliceblue;
}

html {
    scroll-behavior: none;
    overflow-x: hidden;
}


header {
    height: 150vh;
    width: 100vw;
    background-image: url(images/background.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    padding-bottom: 10rem;
}

.logo {
    width: 11rem;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1em;
    
}

.nav-elt {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}

.main {
    width: 100%;
    padding: 1px 12%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

.hero1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

.main-header {
    font-size: 7rem;
}

.main-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding-bottom: 2rem;
    
}

.main-button {
    background-color: #C271FF;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.452);
}

.lowerp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    gap: 4rem;
}

.learn {
    color: #C271FF;
    font-weight: bold;
    
}


.cardsg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.card-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    
}


/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ############################################### */



.first {
    width: 100%;
    height: 50vh;
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1px 12%;
    font-weight: 100;
}

.left-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.moto {
    font-size: 1.3rem;
}

.gahima {
    font-weight: 900;
    font-size: 1.5rem;
}



/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ############################################### */


.second * {
    /* padding: 1px 12%; */
    color: black;
}



.them {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other1 {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.min {
    width:
    display: flex;
    justify-content: space-between;
}